<!doctype html>
<html ng-app="searchApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="styles/style.css"/>
  </head>

  <body ng-controller="SearchController">

    <div class = "chat link-container">
      <!-- <label for="nameInput">Username:</label>
      <input ng-model="name" type="text" id="nameInput" placeholder="Type a name..."> -->
      <form novalidate class="simple-form">
        <label for="SearchInput">Search:</label>
        <input type="text" id="search" ng-model="searchQuery" ng-keyup="update(searchQuery)"/><br />
        <!-- <input type="submit"  ng-click="update(searchQuery)" value="GO" /> -->
      </form>
    </div>

    <!-- CHAT MARKUP -->
    <div class="chat l-demo-container">
      <header>Tool List</header>


      <ul id="messages" class="chat-messages">
        <li ng-repeat="tool in results">
          <strong class="chat-username">
            {{tool.genus}}
          </strong>
          {{tool.species}}
        </li>
      </ul>

    </div>



    <script src="js/searchApp.js"></script>
  </body>
</html>
